.password-container {
    min-width: 25em;
    max-width: 30em;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.password-input {
    box-shadow: none;
    outline: none;
    border-color: #ffffff;
}

.password-progress {
    height: 6px;
    background-color: #ffffff;
}

.password-input:focus {
    border-color: #ffffff;
    box-shadow: none;
}

.password-bar {
    margin-bottom: 0;
    margin-top: 0;
}

.PasswordCard {
    min-width: 25em;
    max-width: 30em;
    margin-left: 0;
    margin-right: auto;    border-radius: 10px;
    border: 2px solid #a955f7a1;
    transition: all 0.3s;
    padding: 0.1em;
    position: relative;
    z-index: 1;
}

.PasswordForm {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    background-color: #17171785;
    transition: 0.4s ease-in-out;
}

.PasswordLength {
    color: #ffffff;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0.75rem; 
    margin-top: 1rem;
    justify-items: center; 
}
  
.checkbox-grid label {
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
  