.password-container {
    border-radius: 10px;
    overflow: hidden;
}

.password-input {
    box-shadow: none;
    outline: none;
    border-color: #ffffff;
}

.password-progress {
    height: 6px;
    background-color: #ffffff;
}

.password-input:focus {
    border-color: #ffffff;
    box-shadow: none;
}

.password-bar {
    margin-bottom: 0;
    margin-top: 0;
}
