.password-container {
    border-radius: 10px;
    overflow: hidden;
}

.password-input {
    box-shadow: none;
    outline: none;
    border-color: #ffffff;
}

.password-progress {
    height: 6px;
    background-color: #ffffff;
}

.password-input:focus {
    border-color: #ffffff;
    box-shadow: none;
}

.password-bar {
    margin-bottom: 0;
    margin-top: 0;
}

.PasswordForm {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    background-color: #171717;
    transition: 0.4s ease-in-out;
}

.PasswordLength {
    color: #ffffff;
}

.PasswordCard {
    min-width: 25em;
    max-width: 30em;
    border-radius: 10px;
    background-image: linear-gradient(163deg, #ffffff0e 0%, #8800ff 100%);
    transition: all 0.3s;
    padding: 0.1em;
}