.styled-wrapper {
    .tooltip-container {
    --background: #ffffff;
    --support-size: 40px;
    --tooltip-radius: 10px 10px 10px 0;
    /*--outline-border-color: #0096aa;*/
    position: relative;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 100;
    /*font-weight: bold;*/
    padding: 2px 6px;     
    font-size: 12px;  
    text-decoration: underline;
    width: 100px;
    margin-left: 310px;
    margin-top: 0px;
    color: var(--background);
    /*border: solid 2px var(--background);*/
  }

  .tooltip-container::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s linear;
    outline: 3px solid transparent;
    background: var(--background);
  }
  .tooltip-container:hover {
    color: #a955f7;
  }
  .tooltip-container:hover:before {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline-offset: 5px;
    outline-color: var(--outline-border-color);
  }
  .tooltip {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    transform: translateX(-5%);
    padding: 0.2em 0.9em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background: var(--background);
    border-radius: var(--tooltip-radius);
    color: rgb(198, 93, 255);
    box-shadow: 3px 3px 0px var(--outline-border-color);
  }

  .tooltip::after {
    content: "Hello!👋";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    text-align: center;
    border-radius: var(--tooltip-radius);
  }
  .tooltip::before {
    position: absolute;
    content: "";
    bottom: 0;
    border-style: solid;
    border-width: 0px;
    left: 0px;
    transform: translateX(-50%);
    border-color: transparent var(--background) var(--background) transparent;
    box-shadow: 0px 3px 0px var(--outline-border-color);
  }

  .tooltip-container:hover .tooltip::after {
    animation: hidden 0.5s 1.5s linear forwards;
  }

  .tooltip-container:hover .tooltip {
    top: calc(-100% - var(--support-size) * 0.5);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: shake 0.5s 1s linear;
    transition: all 0.3s 0.5s;
  }

  @keyframes hidden {
    50% {
      transform: translate(-50%, -50%) scale(0.5);
      background-color: #1ca0f5;
    }
    100% {
      transform: translate(0, -50%) scale(0.5);
      opacity: 0;
    }
  }

  @keyframes shake {
    0%,
    40%,
    80% {
      transform: translateX(-10%);
    }
    20%,
    60%,
    100% {
      transform: translateX(0);
    }
  }

  .st2 {
    fill: #f9c8a7;
  }
  .st3 {
    fill: #ff9e97;
  }
  .st6 {
    fill: #d72e48;
  }
  .st7 {
    fill: #ffffff;
  }
  .st8 {
    fill: #ff8d7f;
  }
  .st10 {
    fill: #3d3d3b;
  }
  .st11 {
    fill: #c031fd;
  }
  .st12 {
    opacity: 0.2;
  }
  .st14 {
    fill: #b7b7b7;
  }
  .st15 {
    fill: #ead9cf;
  }
  #Calque_1 {
    display: inline-block;
    height: var(--support-size);
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
    left: 0;
    top: 0;
  }
  #left_x5F_arm_2_ {
    transform: translateX(2px);
  }

  .tooltip-container:hover #Calque_1 {
    top: calc(var(--support-size) * -1);
    opacity: 1;
  }
};

